<section class="contacto">
    <h2>Contactanos</h2>
    <p class="contacto-desc">
        Estamos disponibles para atenderte
    </p>

    <div class="cards">
        <div class="card">
            <h3>Telefonos</h3>
            <p>0999739356</p>
            <p>0988160349</p>
        </div>

        <div class="card">
            <h3>Correo</h3>
            <p>rizebites&#64;gmail.com</p>
        </div>

        <div class="card">
            <h3>Ubicacion</h3>
            <p>Cuenca, Ecuador</p>
        </div>
    </div>
</section>
